<div class="max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
  <div class="max-w-xl">
    <h2 class="text-3xl font-bold sm:text-4xl text-[#2E9250]">Crops</h2>
  </div>

  <div class="overflow-hidden overflow-x-auto border border-gray-200 my-10">
    <table class="min-w-full divide-y divide-gray-200 text-sm">
      <thead class="bg-[#5AC980]">
        <tr>
          <th
            class="whitespace-nowrap px-4 py-2 text-left font-medium text-white"
          >
            <div class="flex items-center gap-2">Name</div>
          </th>

          <th class="px-4 py-2 text-white">
            <span>
              <i class="fa-solid fa-plus"></i>
            </span>
            &nbsp; Add New
          </th>
        </tr>
      </thead>

      <tbody class="divide-y divide-gray-200">
        <tr>
          <td class="whitespace-nowrap px-4 py-2">Onion</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="max-w-xl">
    <h2 class="text-3xl font-bold sm:text-4xl text-[#2E9250]">Livestock</h2>
  </div>
  <div class="overflow-hidden overflow-x-auto border border-gray-200 my-10">
    <table class="min-w-full divide-y divide-gray-200 text-sm">
      <thead class="bg-[#5AC980]">
        <tr>
          <th
            class="whitespace-nowrap px-4 py-2 text-left font-medium text-white"
          >
            <div class="flex items-center gap-2">Name</div>
          </th>

          <th class="px-4 py-2 text-white">
            <span>
              <i class="fa-solid fa-plus"></i>
            </span>
            &nbsp; Add New
          </th>
        </tr>
      </thead>

      <tbody class="divide-y divide-gray-200">
        <tr>
          <td class="whitespace-nowrap px-4 py-2">Onion</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
