<div class="max-w-screen-xl px-4 py-16 sm:px-6 lg:px-8">
  <div class="max-w-xl">
    <h2 class="text-3xl font-bold sm:text-4xl text-[#2E9250]">Categories</h2>
  </div>

  <div class="mt-8 grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
    <a
      class="flex justify-between shadow-xl border border-gray-200 p-8 transition h-96 flex-wrap"
    >
      <h2 class="text-3xl w-full font-bold text-[#2E9250]">Crops</h2>
      <div class="w-full flex justify-end items-end">
        <button class="h-12 px-5 bg-[#4ABB71] text-white">
          Create Sub-Category
        </button>
      </div>
    </a>
    <a
      class="flex justify-between shadow-xl border border-gray-200 p-8 transition h-96 flex-wrap"
    >
      <h2 class="text-3xl w-full font-bold text-[#2E9250]">Livestock</h2>
      <div class="w-full flex justify-end items-end">
        <button class="h-12 px-5 bg-[#4ABB71] text-white">
          Create Sub-Category
        </button>
      </div>
    </a>
    <a
      class="flex justify-center items-center bg-[#5AC980] p-8 transition text-white h-96"
    >
      <div>
        <h2 class="text-6xl font-bold text-center">
          <i
            class="fa-solid fa-plus rounded-full px-1 border-2 border-white"
          ></i>
        </h2>
        <br />
        <p class="text-white text-4xl">Create New</p>
      </div>
    </a>
  </div>
</div>
